/* line 1, ../../sass/home.scss */
.sebm-google-map-container {
  height: 100vh;
}

/* line 6, ../../sass/home.scss */
.example-card {
  width: 400px;
}

/* line 10, ../../sass/home.scss */
.example-header-image {
  background-size: cover;
}


img.mat-card-image {
    height: 340px;
}